{% extends "default/base.html" %}

{% block content %}
    <div class="row-fluid" id="admin-content">
        <div class="col-xs-12 col-md-offset-2 col-md-8">
            <h1 class="voting-splash-header center-text">Latest Vote Statistics<br><h5 class="center-text"><small>(Updates every 10 seconds)</small></h5></h1>
            <form action="/admin/logout" method="post">
                <button class="btn btn-danger center-block" name="logout" value="logout">Logout</button>
            </form>
        </div>
        <div id="stat-div" class="col-xs-12 col-md-offset-2 col-md-8"></div>
        <div class="col-xs-12 col-md-offset-2 col-md-8">
            <form class="download-stats" action="/admin/generate_stats" method="post">
                <input class="center-block btn btn-warning" type="submit" value="Download PDF">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/assets/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.color-2.1.2.min.js"></script>
    <script type="text/javascript" src="/assets/js/stats.js"></script>
{% endblock %}
