{% extends "default/base.html" %}

{% block content %}
    <div class="row-fluid">
        <div class="header-text col-xs-12 col-md-6 col-centered">
            <img src="/assets/img/banner.png" width="300px">
            <h1>Vote Now</h1>
            <h5>For the next set of voters of PSHS-EVC Student Alliance Officers</h5>
        </div>
        <div class="col-xs-12 col-md-4 col-centered">
            <form id="login-form" action="/login" method="post" name="login">
                <div class="input-group center-block">
                    {{ form.hidden_tag() }}
                    {{ form.username(size=40, class="form-control") }}
                    {{ form.password(size=40, class="form-control") }}
                    <input id="login-submit" class="btn btn-info" type="submit" value="Sign in">
                </div>
            </form>
            <div class="footer-text">
                <h6>
                    <small>
                        Copyright © 2016. Sean Francis N. Ballais and PSHS-EVC Student Alliance.<br>All Rights Reserved.
                    </small>
                </h6>
            </div>
        </div>
    </div>
{% endblock %}
